<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="Normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section> 
		<div class="content-header"> 
		
		<h1>  Welcome <span th:text="${user.name}"> </span> </h1>
		</div>
		
		
		<div class="content-body"> 
			
			<img src="/Images/contact-p.png">

			
			
		</div>
		<div class="content-description">
					     <h2> Starts adding Contacts</h2>   
					    </div>
						<div class="add-button">
							<a th:href="@{/user/addContact}">
						<button type="button"> Add New  Contact</button>   </a>
											    </div>
	</section>

</body>
</html>