<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="Normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section> 
		<!--
		<h2>Show Contact Page</h2>
		    -->
		    <!-- Iterate through the contacts 
		    <div th:each="contact : ${contacts}">
		        <h3>List of Contacts</h3>
		        <p>Phone: <span th:text="${contact.phone}"></span></p>
		        <p>Name: <span th:text="${contact.name}"></span></p>
		    </div>
			-->
			
			
			
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Id</th>
			      <th scope="col">Full Name</th>
			      <th scope="col">Phone</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="contact, index :${contacts}">
			      <th th:text="${index.index+1}"></th>
			      <td th:text="${contact.name}"></td>
			      <td th:text="${contact.phone}"></td>
				  <td><button type="button" class="btn btn-danger">Delete </button> <button type="button" class="btn btn-primary">Update </button</td>
			    </tr>
			  </tbody>
			</table>
			
			
</section>
</body>
</html>