<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="Normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section> 

				 <div th:if="${updateMessage}!=null"
				  class="alert"
				th:classappend="${updateMessage.type}"> 
					<p th:text="${updateMessage.content}"> </p>	
				
				  </div> 
				  
			
			
			
			<table class="table">
			  <thead class="thead-dark">
				
						
			    <tr>
			      <th scope="col">SN</th>
			      <th scope="col">Full Name</th>
			      <th scope="col">Phone</th>
				  <th scope="col">Email</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="contact, index :${contacts}">
			      <th th:text="${index.index+1}"></th>
			      <td><a th:href="@{'/user/viewContactDetail/' +${contact.cid}}" style="color:rebeccapurple;"><span th:text="${contact.name}"></span> </a></td>
			      <td th:text="${contact.phone}"></td>
				  <td th:text="${contact.email}"></td>
				  <td><a th:href="@{'/deleteContact/' +${contact.cid}}" class="btn btn-danger">Delete </a> 
					<form method="post" th:action="@{'/updateForm/' +${contact.cid}}"> <button type="submit" class="btn btn-primary">Update </button>  </form> </td>
			    </tr>
			  </tbody>
			</table>
			
			<!-- pagination starts here  -->
			
			<nav aria-label="Page navigation example">
			  <ul class="pagination">
				
				<!-- show "Previous option" only if user is not in 1st page -->
			    <li class="page-item" th:if="${currentPage!=0}"><a class="page-link" th:href="@{'/user/viewContacts/'+${currentPage-1}}">Previous</a></li>
				
				<!-- highlighting the current page number and displaying page number based on total number of page -->
			    <li  th:classappend="${currentPage==(i-1)?'active':''} "  th:each="i: ${#numbers.sequence(1,totalPages)}" class="page-item"> <a th:text="${i}" class="page-link" th:href="@{'/user/viewContacts/'+${i-1}}"> </a></li>
			    
				<!-- show "Nex option" only if user is not in last  page -->
			    <li class="page-item" th:if="${currentPage!=(totalPages-1)}"><a class="page-link" th:href="@{'/user/viewContacts/'+${currentPage+1}}">Next</a></li>
			  </ul>
			</nav>
		
			<!-- pagination starts here  -->	
</section>
</body>
</html>