
.bg-primary {
	    background:cadetblue !important; /* !important helps override Bootstrap */
	  }
	  
	  .banner {
		
		width:100%;
		height: 800px;
		background:linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),url(../Images/banner.avif);
		background-size: cover;
		background-position: center;
		color:white;
		
	  }
	  
/* CSS for Login Page */
	  
 #login-name{
font-size: 65px;
font-family: arabic typesetting;
border-bottom-style: ridge;
color:white;

}
#login{
background-color:rgba(13,13,13,0.2);
min-height:500px;
padding: 40px 80px 40px 80px;
box-shadow: -10px -10px 9px #33cc33;

}
.user{
font-size: 29px;

font-family: arabic typesetting;

color: white;

}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
         margin-top: 56px;
        
    }

    .login-form{
        margin-top: 40%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

/* end of login page's CSS */


/* for Side bar /Normal/base.html*/

.sidebar {
	width:20%;
	background:white;
	height: 100vh;
	position:fixed;
	padding-top:15px;
	float:left;
	padding-top:7%;
	
	
}
.sidebar a{
	display:block;
	width:100%;
	padding:10px 25px;
	text-decoration:none;
	color:grey;
	
	}
	.sidebar a:hover{
		
		background:#33cc33;
	}
	
	.sidebar .divider{
		
		height:.5px;
		width:100%;
		background:lightslategrey;
	}
	
	
.content {
	
	margin-left:20%;
	padding-left:10%;
	padding-top:8%;
	width:80%;
	height: 150vh;
	background:#94AA99 ;
	
}



